<plugin>
	<activator class="org.orbisgis.geoprocessing.Register"/>
	<extension point="org.orbisgis.core.ui.editorViews.toc.Action"
	id="org.orbisgis.core.ui.editorViews.toc.Geoprocessing">


		<!-- Menu============================================================== -->
		<menu id="org.orbisgis.StylesMenu" text="Styles..."/>
		<menu id="org.orbisgis.ExportMenu" text="Export..."/>

		<menu id="org.orbisgis.ProcessingMenu" text="Processing..."/>
		<menu id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu"
			text="Terrain Analysis" parent="org.orbisgis.ProcessingMenu"/>
		<menu id="org.orbisgis.ProcessingMenu.Math" text="Math"
			parent="org.orbisgis.ProcessingMenu"/>
		<menu id="org.orbisgis.ProcessingMenu.Filter" text="Filter"
			parent="org.orbisgis.ProcessingMenu"/>
		<menu id="org.orbisgis.ProcessingMenu.Extract" text="Extract"
			parent="org.orbisgis.ProcessingMenu"/>

		<menu id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.TopographyMenu"
			text="Topography"
			parent="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu"/>
		<menu id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			text="Hydrology"
			parent="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu"/>


		<!-- Others ============================================================== -->

		<action id="org.orbisgis.rasterProcessing.others.ShadowsValue"
			text="Shadows" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.others.ShadowsValue"/>

		<action id="org.orbisgis.rasterProcessing.others.FindEdgesValue"
			text="Find Edges" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.others.FindEdgesValue"/>

		<action id="org.orbisgis.rasterProcessing.others.RasterizationPanel"
			text="Rasterization" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.others.RasterizationPanel"/>


		<!-- Terrain Analysis============================================================== -->
		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.topography.ProcessD8Slope"
			text="Slopes" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.TopographyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.topography.ProcessD8Slope"/>


		<!-- Hydrology ============================================================== -->

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessFillSinks"
			text="Fill sinks" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.hydrology.ProcessFillSinks"/>

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessD8Direction"
			text="D8: Direction" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.hydrology.ProcessD8Direction"/>

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessD8Accumulation"
			text="D8: Accumulation" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.hydrology.ProcessD8Accumulation"/>

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessConstrainedD8Accumulation"
			text="D8: Constrained Accumulation"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.hydrology.ProcessConstrainedD8Accumulation"/>

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessStrahlerStreamOrder"
			text="D8: Strahler Stream Order"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.hydrology.ProcessStrahlerStreamOrder"/>

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessOutlets"
			text="D8: Find outlets" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.hydrology.ProcessOutlets"/>

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessWatersheds"
			text="D8: Watersheds" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.hydrology.ProcessWatersheds"/>

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessD8DistanceToTheOutlet"
			text="D8: Distance to the outlet" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.hydrology.ProcessD8DistanceToTheOutlet"/>


		<!-- Topographic indices ============================================================== -->

		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.TopographicIndicesAction"
			text="Topographic Indices" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.TerrainAnalysisMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.terrainAnalysis.topographicIndices.TopographicIndicesAction"/>


		<!-- Filter ============================================================== -->

		<action id="org.orbisgis.rasterProcessing.filter.MedianFilterValue"
			text="Median(3x3)" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Filter"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.filter.MedianFilterValue"/>

		<action id="org.orbisgis.rasterProcessing.filter.MeanFilterValue"
			text="Mean(3x3)" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Filter"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.filter.MeanFilterValue"/>



		<!-- Math ============================================================== -->

		<action id="org.orbisgis.rasterProcessing.math.MathAddValue" text="Add"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Math"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.math.MathAddValue"/>

		<action id="org.orbisgis.rasterProcessing.math.MathSubstractValue"
			text="Substract" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Math"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.math.MathSubstractValue"/>

		<action id="org.orbisgis.rasterProcessing.action.math" text="Multiply"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Math"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.math.MathMultiplyValue"/>

		<action id="org.orbisgis.rasterProcessing.math.MathDivideValue"
			text="Divide" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Math"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.math.MathDivideValue"/>

		<action id="org.orbisgis.rasterProcessing.math.MathABSValue" text="ABS"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Math"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.math.MathABSValue"/>

		<action id="org.orbisgis.rasterProcessing.math.MathSQRValue" text="Square"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Math"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.math.MathSQRValue"/>

		<action id="org.orbisgis.rasterProcessing.math.MathSQRTValue"
			text="Root square" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Math"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.math.MathSQRTValue"/>


		<!-- Default Style ============================================================== -->

		<action id="org.orbisgis.defaultStyle.RasterDefaultStyle"
			text="Default Style" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.StylesMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.defaultStyle.RasterDefaultStyle"/>

		<action id="org.orbisgis.defaultStyle.RasterDefaultStyle"
			text="Bands order" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.StylesMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.rgbBands.InvertBands"/>

		<action id="org.orbisgis.defaultStyle.RasterDefaultStyle"
			text="Set nodata value" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.StylesMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.nodata.SetnodataValue"/>


		<!-- Extract  ============================================================== -->

		<action id="org.orbisgis.rasterProcessing.extract.ExtractRGBBands"
			text="RGB" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Extract"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.extract.ExtractRGBBands"/>

		<action id="org.orbisgis.rasterProcessing.extract.ThresholdValue"
			text="Threshold" menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu.Extract"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.extract.ThresholdValue"/>


		<!-- Save in a file ============================================================== -->

		<action id="org.orbisgis.save.SaveGeoRasterInAFile" text="Save in a file"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ExportMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.io.SaveGeoRasterInAFile"/>

				<!-- GeoProcessing ============================================================== -->

		<action id="org.orbisgis.geomProcessing" text="Find ovelaping features"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			icon="/org/orbisgis/images/overlaps.png"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.qa.IntervalOverlapsFinderAction"/>
		<action id="org.orbisgis.geomProcessing" text="Find gap features"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			icon="/org/orbisgis/images/gaps.png"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.qa.IntervalGapsFinderAction"/>
		<action id="org.orbisgis.geomProcessing" text="Validate geometries"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			icon="/org/orbisgis/images/edit-clear.png"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.qa.ValidateSelectedLayersAction"/>
		<action id="org.orbisgis.geomProcessing" text="Geometry statistics"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			icon="/org/orbisgis/images/lightbulb_off.png"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.qa.GeometriesStatisticsAction"/>
		<action id="org.orbisgis.geomProcessing" text="Network topology"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			icon="/org/orbisgis/images/network.png"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.topology.NetworkTopologyLayerAction"/>
		<action id="org.orbisgis.geomProcessing" text="Planar topology"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			icon="/org/orbisgis/images/wrench_orange.png"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.topology.PlanarTopologyLayerAction"/>
		<action id="org.orbisgis.geomProcessing" text="Update z"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.update.UpdatezGeometryLayerAction"/>
		<action id="org.orbisgis.geomProcessing" text="Update z start - end"
			menu-group="org.orbisgis.rasterProcessing"
			menu-id="org.orbisgis.ProcessingMenu"
			class="org.orbisgis.geoprocessing.editorViews.toc.actions.update.UpdateZStartEndGeometryLayerAction"/>


	</extension>

	<extension point="org.orbisgis.core.ui.editor.Action"
		id="org.orbisgis.core.ui.editors.map.tool.util.mapcalculator">
		<toolbar id="org.orbisgis.RasterProcessing" text="Raster Processing"/>
		<editor-action id="org.orbisgis.tools.rasterProcessing.ImageCalculator"
			menu-id="org.orbisgis.core.ui.editors.map.Tool" text="GeoRaster Calculator"
			menu-group="org.orbisgis.tools.Inmediate"
			icon="/org/orbisgis/images/calculator.png"
			editor-id="org.orbisgis.editors.Map"
			toolbar-id="org.orbisgis.RasterProcessing"
			class="org.orbisgis.geoprocessing.editors.map.tools.ImageCalculator"/>
	</extension>

	<extension point="org.orbisgis.core.ui.editors.map.Tool"
		id="org.orbisgis.core.ui.editors.map.tool.util.rasterinfo">
		<tool id="org.orbisgis.rasterProcessing.toolbar.InfoTool"
			menu-id="org.orbisgis.core.ui.editors.map.Tool" text="Raster Information"
			menu-group="org.orbisgis.tools.Inmediate"
			icon="/org/orbisgis/images/information.png"
			toolbar-id="org.orbisgis.RasterProcessing" selectable="true"
			class="org.orbisgis.geoprocessing.editors.map.tools.InfoTool"/>
	</extension>

	<extension point="org.orbisgis.core.ui.editors.map.Tool"
		id="org.orbisgis.core.ui.editors.map.tool.util.wand">
		<tool id="org.orbisgis.rasterProcessing.toolbar.WandTool"
			menu-id="org.orbisgis.core.ui.editors.map.Tool" text="Wand tool"
			menu-group="org.orbisgis.tools.Inmediate" selectable="true"
			icon="/org/orbisgis/images/wizard.png"
			toolbar-id="org.orbisgis.RasterProcessing"
			class="org.orbisgis.geoprocessing.editors.map.tools.WandTool"/>
	</extension>

	<extension point="org.orbisgis.core.ui.editors.map.Tool"
		id="org.orbisgis.core.ui.editors.map.tool.util.watershed">
		<tool id="org.orbisgis.rasterProcessing.toolbar.WatershedTool"
			menu-id="org.orbisgis.core.ui.editors.map.Tool" text="Watershed tool"
			menu-group="org.orbisgis.tools.Inmediate"
			icon="/org/orbisgis/images/watershed.png"
			toolbar-id="org.orbisgis.RasterProcessing" selectable="true"
			class="org.orbisgis.geoprocessing.editors.map.tools.WatershedTool"/>
	</extension>

	<!--<extension point="org.orbisgis.core.ui.editorViews.toc.Action"
		id="org.orbisgis.editorViews.toc.EditingActions">
		<action id="org.orbisgis.editorViews.toc.actions.SetActive"
			text="Add geometry" menu-group="org.orbisgis.editorViews.toc.Edition"
			icon="/org/orbisgis/images/shape_square_add.png"
			class="org.orbisgis.ui.editorViews.toc.actions.geometry.edition.AddGeometriesAsWKTAction"/>
		</extension>-->

</plugin>