<plugin>
	<extension-point id="org.orbisgis.geoview.toc.LayerAction"
		schema="schema/layerAction.xsd"/>
	<extension point="org.orbisgis.geoview.toc.LayerAction"
		id="org.orbisgis.geoview.toc.LayerManagement">
		<action id="org.orbisgis.geoview.toc.RemoveLayerAction"
			text="Remove layer" group="org.orbisgis.geoview.toc.LayerManagement"
			icon="/org/orbisgis/geoview/remove.png"
			class="org.orbisgis.geoview.toc.RemoveLayerAction"/>
		<action id="org.orbisgis.geoview.toc.GroupLayersAction"
			text="Group layers" group="org.orbisgis.geoview.toc.LayerManagement"
			icon="/org/orbisgis/geoview/arrow_in.png"
			class="org.orbisgis.geoview.toc.GroupLayersAction"/>
		<action id="org.orbisgis.geoview.toc.CreateGroupAction" text="New group"
			group="org.orbisgis.geoview.toc.LayerManagement"
			icon="/org/orbisgis/geoview/layers.png"
			class="org.orbisgis.geoview.toc.CreateGroupAction"/>
	</extension>
	<extension point="org.orbisgis.geoview.toc.LayerAction"
		id="org.orbisgis.geoview.toc.NavigationActions">
		<action id="org.orbisgis.geoview.toc.ZoomToLayerAction"
			text="Zoom to layer"
			group="org.orbisgis.geoview.toc.NavigationActions"
			icon="/org/orbisgis/geoview/magnifier.png"
			class="org.orbisgis.geoview.toc.ZoomToLayerAction"/>
	</extension>
	<extension point="org.orbisgis.geoview.toc.LayerAction"
		id="org.orbisgis.geoview.TableActions">
		<action id="org.orbisgis.geoview.toc.ShowTable" text="Show in table"
			group="org.orbisgis.geoview.data"
			icon="/org/orbisgis/geoview/table_go.png"
			class="org.orbisgis.geoview.table.ShowInTable"/>
	</extension>
	<extension id="org.orbisgis.geoview.NewFileWizard"
		point="org.orbisgis.geoview.NewLayerWizard">
		<wizard id="org.orbisgis.geoview.NewFileWizard"
			class="org.orbisgis.geoview.NewFileLayerWizard"/>
	</extension>
	<extension id="org.orbisgis.geoview.About"
		point="org.orbisgis.geoview.Action">
		<menu id="org.orbisgis.geoview.Help" text="Help"/>
		<action id="org.orbisgis.geoview.About" menuId="org.orbisgis.geoview.Help"
			text="About OrbisGIS" icon="/org/orbisgis/geoview/help.png"
			class="org.orbisgis.geoview.about.AboutAction"/>
	</extension>
	<extension point="org.orbisgis.geoview.Action">
		<action id="org.orbisgis.geoview.tools.FullExtent"
			menuId="org.orbisgis.geoview.Tools" text="Full extent"
			menuGroup="org.orbisgis.geoview.tools.Inmediate"
			icon="/org/orbisgis/tools/instances/generated/world.png"
			toolbarId="org.orbisgis.geoview.Navigation"
			class="org.orbisgis.geoview.FullExtent"/>
	</extension>
	<extension id="org.orbisgis.geoview.NavigationTools"
		point="org.orbisgis.geoview.Tool">
		<menu id="org.orbisgis.geoview.Tools" text="Tools"/>
		<toolbar id="org.orbisgis.geoview.Navigation" text="Navigation"/>
		<action id="org.orbisgis.geoview.tools.ZoomIn"
			menuId="org.orbisgis.geoview.Tools" text="Zoom In"
			menuGroup="org.orbisgis.geoview.tools.Selectable"
			icon="/org/orbisgis/tools/instances/generated/zoom_in.png"
			toolbarId="org.orbisgis.geoview.Navigation"
			selectable="true"
			class="org.orbisgis.tools.instances.ZoomInTool"/>
		<action id="org.orbisgis.geoview.tools.ZoomOut"
			menuId="org.orbisgis.geoview.Tools" text="Zoom Out"
			menuGroup="org.orbisgis.geoview.tools.Selectable"
			icon="/org/orbisgis/tools/instances/generated/zoom_out.png"
			toolbarId="org.orbisgis.geoview.Navigation"
			selectable="true"
			class="org.orbisgis.tools.instances.ZoomOutTool"/>
		<action id="org.orbisgis.geoview.tools.Pan"
			menuId="org.orbisgis.geoview.Tools" text="Pan"
			menuGroup="org.orbisgis.geoview.tools.Selectable"
			icon="/org/orbisgis/tools/instances/generated/pan.png"
			toolbarId="org.orbisgis.geoview.Navigation"
			selectable="true"
			class="org.orbisgis.tools.instances.PanTool"/>
	</extension>
	<extension point="org.orbisgis.geoview.Tool">
		<toolbar id="org.orbisgis.geoview.Info" text="Info tools"/>
		<action id="org.orbisgis.geoview.tools.InfoTool"
			menuId="org.orbisgis.geoview.Tools" text="Information tool"
			menuGroup="org.orbisgis.geoview.tools.Selectable"
			icon="/org/orbisgis/geoview/table/information.png"
			toolbarId="org.orbisgis.geoview.Info"
			selectable="true"
			class="org.orbisgis.geoview.table.InfoTool"/>
	</extension>
	<extension point="org.orbisgis.geoview.View">
		<view id="org.orbisgis.geoview.Toc"
			class="org.orbisgis.geoview.toc.TocView" title="TOC"/>
	</extension>
	<extension point="org.orbisgis.geoview.View">
		<view id="org.orbisgis.geoview.GeoMark"
			class="org.orbisgis.geoview.geomark.GeomarkView" title="Geomarks"/>
	</extension>
	<extension point="org.orbisgis.geoview.View">
		<view id="org.orbisgis.geoview.SQLConsole"
			class="org.orbisgis.geoview.sqlConsole.ConsoleView"
			title="SQL Console"/>
	</extension>
	<extension point="org.orbisgis.geoview.View">
		<view id="org.orbisgis.geoview.Table"
			class="org.orbisgis.geoview.table.TableView" title="Table"/>
	</extension>

	<extension point="org.orbisgis.geoview.Tool">
		<toolbar id="org.orbisgis.geoview.FenceToolbar" text="Fence tools..."/>
		<action id="org.orbisgis.geoview.fence.PolygonFence"
			toolbarId="org.orbisgis.geoview.FenceToolbar"
			icon="/org/orbisgis/geoview/fence/shape_polygon_edit.png"
			text="Polygon fence"
			selectable="true"
			class="org.orbisgis.geoview.fence.FencePolygonTool"/>
	</extension>
</plugin>