<plugin>
	<activator class="org.orbisgis.geoview.Activator"/>
	<extension-point id="org.orbisgis.geoview.Action"
		schema="${org.orbisgis.core}/schema/action.xsd"/>
	<extension-point id="org.orbisgis.geoview.NewLayerWizard"
		schema="schema/newLayerWizard.xsd"/>
	<extension-point id="org.orbisgis.geoview.View"
		schema="schema/view.xsd"/>

	<extension id="org.orbisgis.geoview.NewLayer"
		point="org.orbisgis.geoview.Action">
		<menu id="org.orbisgis.geoview.File" text="File"/>
		<action parent="org.orbisgis.geoview.File"
			id="org.orbisgis.geoview.NewLayerAction" text="Open"
			icon="/org/orbisgis/geoview/add.png"
			class="org.orbisgis.geoview.NewLayerAction"/>
	</extension>
</plugin>