<plugin>
	<activator class="org.orbisgis.Activator"/>

	<!-- windows -->
	<extension-point id="org.orbisgis.Window" schema="schema/window.xsd"/>

	<!-- global actions -->
	<extension-point id="org.orbisgis.Action" schema="schema/action.xsd"/>

	<!-- geocatalog wizards -->
	<extension-point id="org.orbisgis.views.geocatalog.NewResourceWizard"
		name="GeoCatalog Wizards" schema="schema/resourceWizard.xsd"/>

	<!-- geocatalog actions -->
	<extension-point id="org.orbisgis.views.geocatalog.Action"
		name="Contextual actions for resources"
		schema="schema/resourceAction.xsd"/>

	<!-- editor actions -->
	<extension-point id="org.orbisgis.editor.Action"
		schema="schema/editorAction.xsd"/>

	<!-- map editor tools -->
	<extension-point id="org.orbisgis.editors.map.Tool" schema="schema/tool.xsd"/>

	<!-- layer wizards -->
	<extension-point id="org.orbisgis.editors.map.NewLayerWizard"
		schema="schema/newLayerWizard.xsd"/>

	<!-- panels -->
	<extension-point id="org.orbisgis.View" schema="schema/view.xsd"/>
	<extension-point id="org.orbisgis.EditorView" schema="schema/editorView.xsd"/>
	<extension-point id="org.orbisgis.Editor" schema="schema/editor.xsd"/>

	<!-- toc actions -->
	<extension-point id="org.orbisgis.editorViews.toc.Action"
		schema="schema/layerAction.xsd"/>

	<!-- SQL -->
	<extension-point id="org.orbisgis.views.sqlRepository.SQL"
		schema="schema/sqlRepository.xsd"/>

	<!-- document -->
	<extension-point id="org.orbisgis.views.documentCatalog.Action"
		schema="schema/documentCatalogAction.xsd"/>
	<extension-point id="org.orbisgis.views.documentCatalog.NewDocumentWizard"
		schema="schema/documentWizard.xsd"/>

	<!--

	EXTENSIONS

	-->

	<!-- windows -->
	<extension point="org.orbisgis.Window">
		<window id="org.orbisgis.MainFrame" newOnStartup="true"
			class="org.orbisgis.windows.mainFrame.OrbisGISFrame"/>
	</extension>
	<extension point="org.orbisgis.Window">
		<window id="org.orbisgis.windows.ErrorWindow"
			class="org.orbisgis.windows.errors.ErrorFrame"/>
	</extension>

	<!-- Geocatalog wizards -->
	<extension point="org.orbisgis.views.geocatalog.NewResourceWizard">
		<wizard id="org.orbisgis.views.geocatalog.newResourceWizards.NewFile"
			class="org.orbisgis.views.geocatalog.newResourceWizards.file.NewFile"/>
	</extension>
	<extension point="org.orbisgis.views.geocatalog.NewResourceWizard">
		<wizard id="org.orbisgis.views.geocatalog.newResourceWizards.NewDB"
			class="org.orbisgis.views.geocatalog.newResourceWizards.db.NewDB"/>
	</extension>
	<extension point="org.orbisgis.views.geocatalog.NewResourceWizard">
		<wizard id="org.orbisgis.views.geocatalog.newResourceWizards.NewFolder"
			class="org.orbisgis.views.geocatalog.newResourceWizards.NewFolder"/>
	</extension>
	<extension point="org.orbisgis.views.geocatalog.NewResourceWizard">
		<wizard id="org.orbisgis.views.geocatalog.newResourceWizards.XYZDem"
			class="org.orbisgis.views.geocatalog.newResourceWizards.xyzdem.ConvertXYZDem"/>
	</extension>

	<!-- Top level actions-->
	<extension id="org.orbisgis.BasicActions" point="org.orbisgis.Action">
		<menu id="org.orbisgis.File" text="File"
			icon="/org/orbisgis/images/house.png"/>
		<menu id="org.orbisgis.Geocatalog" text="Geocatalog"
			icon="/org/orbisgis/images/geocatalog.png"/>

		<menu id="org.orbisgis.Help" text="Help"
			icon="/org/orbisgis/images/help.png"/>
		<toolbar id="org.orbisgis.MainBar" text="OrbisGIS"/>

		<action id="org.orbisgis.actions.Exit" text="Exit"
			menu-id="org.orbisgis.File" icon="/org/orbisgis/images/exit.png"
			toolbar-id="org.orbisgis.MainBar" class="org.orbisgis.actions.Exit"/>
		<action id="org.orbisgis.actions.About" text="About OrbisGIS"
			menu-id="org.orbisgis.Help"
			class="org.orbisgis.actions.about.About"/>
		<action id="org.orbisgis.actions.NewResource" text="New Resource"
			menu-id="org.orbisgis.Geocatalog" icon="/org/orbisgis/images/add.png"
			class="org.orbisgis.actions.NewResource"/>
	</extension>

	<extension point="org.orbisgis.Action" id="org.orbisgis.actions.Workspace">
		<action id="org.orbisgis.actions.SaveWorkspace"
			menu-id="org.orbisgis.File"
			menu-group="org.orbisgis.actions.Workspace" text="Save workspace"
			class="org.orbisgis.actions.SaveWorkspace"/>
		<action id="org.orbisgis.actions.ChangeWorkspace"
			menu-id="org.orbisgis.File"
			menu-group="org.orbisgis.actions.Workspace" text="Change workspace"
			class="org.orbisgis.actions.ChangeWorkspace"/>
	</extension>

	<!-- Resource actions -->
	<extension point="org.orbisgis.views.geocatalog.Action">
		<menu id="org.orbisgis.views.geocatalog.file.New" text="Add"/>
		<action id="org.orbisgis.views.geocatalog.NewResource"
			menu-id="org.orbisgis.views.geocatalog.file.New"
			menu-group="org.orbisgis.views.geocatalog.new" text="Add..."
			icon="/org/orbisgis/images/add.png"
			class="org.orbisgis.views.geocatalog.actions.NewResource"/>
		<action id="org.orbisgis.views.geocatalog.Delete"
			menu-group="org.orbisgis.views.geocatalog" text="Delete resource"
			icon="/org/orbisgis/images/remove.png"
			class="org.orbisgis.views.geocatalog.actions.DeleteResource"/>
		<action id="org.orbisgis.views.geocatalog.ClearCatalog"
			menu-group="org.orbisgis.views.geocatalog.global"
			text="Clear catalog" icon="/org/orbisgis/images/bin_closed.png"
			class="org.orbisgis.views.geocatalog.actions.ClearCatalog"/>
		<action id="org.orbisgis.views.geocatalog.ClearFolder"
			menu-group="org.orbisgis.views.geocatalog" text="Clear folder"
			icon="/org/orbisgis/images/bin_closed.png"
			class="org.orbisgis.views.geocatalog.actions.ClearFolder"/>
	</extension>

	<extension point="org.orbisgis.views.geocatalog.Action">
		<action id="org.orbisgis.views.geocatalog.ShowTable"
			menu-group="org.orbisgis.views.geocatalog.basic" text="Show table"
			icon="/org/orbisgis/images/openattributes.png"
			class="org.orbisgis.views.geocatalog.actions.ShowTable"/>
	</extension>

	<!-- layer actions -->
	<extension point="org.orbisgis.editorViews.toc.Action">
		<action id="org.edit" text="Edit Legend" menu-group="editlayer"
			class="org.orbisgis.editorViews.toc.actions.cui.EditLayerAction"/>
	</extension>
	<extension point="org.orbisgis.editorViews.toc.Action"
		id="org.orbisgis.editorViews.toc.LayerManagement">
		<action id="org.orbisgis.editorViews.toc.actions.RemoveLayer"
			text="Remove layer"
			menu-group="org.orbisgis.editorViews.toc.LayerManagement"
			icon="/org/orbisgis/images/remove.png"
			class="org.orbisgis.editorViews.toc.actions.RemoveLayer"/>
		<action id="org.orbisgis.editorViews.toc.actions.GroupLayers"
			text="Group layers"
			menu-group="org.orbisgis.editorViews.toc.LayerManagement"
			icon="/org/orbisgis/images/arrow_in.png"
			class="org.orbisgis.editorViews.toc.actions.GroupLayers"/>
		<action id="org.orbisgis.editorViews.toc.actions.CreateGroup"
			text="New group"
			menu-group="org.orbisgis.editorViews.toc.LayerManagement"
			icon="/org/orbisgis/images/layers.png"
			class="org.orbisgis.editorViews.toc.actions.CreateGroup"/>
	</extension>
	<extension point="org.orbisgis.editorViews.toc.Action"
		id="org.orbisgis.editorViews.toc.actions.Navigation">
		<action id="org.orbisgis.editorViews.toc.actions.ZoomToLayer"
			text="Zoom to layer"
			menu-group="org.orbisgis.editorViews.toc.NavigationActions"
			icon="/org/orbisgis/images/magnifier.png"
			class="org.orbisgis.editorViews.toc.actions.ZoomToLayer"/>
	</extension>
	<extension point="org.orbisgis.editorViews.toc.Action"
		id="org.orbisgis.editorViews.toc.TableActions">
		<action id="org.orbisgis.editorViews.toc.actions.ShowInTable"
			text="Show in table" menu-group="org.orbisgis.editorViews.toc.data"
			icon="/org/orbisgis/images/openattributes.png"
			class="org.orbisgis.editorViews.toc.actions.ShowInTable"/>
	</extension>

	<extension point="org.orbisgis.editorViews.toc.Action">
		<menu id="org.orbisgis.editorViews.toc.actions.Export" text="Export..."/>
		<!-- Save in a file -->
		<action id="org.orbisgis.editorViews.toc.actions.SaveInFile"
			text="Save in a file"
			menu-group="org.orbisgis.editorsView.toc.export"
			menu-id="org.orbisgis.editorViews.toc.actions.Export"
			class="org.orbisgis.editorViews.toc.actions.SaveInFile"/>
	</extension>

	<!-- layer wizards -->
	<extension id="org.orbisgis.editors.map.newLayerWizards.NewFile"
		point="org.orbisgis.editors.map.NewLayerWizard">
		<wizard id="org.orbisgis.editors.map.newLayerWizards.NewFileLayer"
			class="org.orbisgis.editors.map.newLayerWizards.NewFileLayer"/>
	</extension>

	<!-- map actions -->
	<extension id="org.orbisgis.editors.map.actions.NewLayer"
		point="org.orbisgis.editor.Action">
		<menu id="org.orbisgis.Map" text="Map"
			icon="/org/orbisgis/images/map.png"/>
		<editor-action menu-id="org.orbisgis.Map"
			id="org.orbisgis.editors.map.actions.NewLayer" text="New Layer..."
			icon="/org/orbisgis/images/add.png"
			menu-group="org.orbisgis.editors.map.actions.LayerActionGroup"
			editor-id="org.orbisgis.editors.Map"
			class="org.orbisgis.editors.map.actions.NewLayer"/>
	</extension>

	<extension id="org.orbisgis.editors.map.actions.FullExtent"
		point="org.orbisgis.editor.Action">
		<editor-action id="org.orbisgis.editors.map.actions.FullExtent"
			menu-id="org.orbisgis.editors.map.Tool" text="Full extent"
			menu-group="org.orbisgis.editors.map.tools.Inmediate"
			icon="/org/orbisgis/images/world.png"
			toolbar-id="org.orbisgis.editors.map.Navigation"
			editor-id="org.orbisgis.editors.Map"
			class="org.orbisgis.editors.map.actions.FullExtent"/>
	</extension>

	<!-- map editor tools -->
	<extension id="org.orbisgis.editors.map.tools.NavigationTools"
		point="org.orbisgis.editors.map.Tool">
		<menu id="org.orbisgis.editors.map.Tool" text="Tools"
			icon="/org/orbisgis/images/package.png" parent="org.orbisgis.Map"/>
		<toolbar id="org.orbisgis.editors.map.Navigation" text="Navigation"/>
		<tool id="org.orbisgis.editors.map.tools.ZoomIn"
			menu-id="org.orbisgis.editors.map.Tool" text="Zoom In"
			menu-group="org.orbisgis.editors.map.tools.Selectable"
			icon="/org/orbisgis/images/zoom_in.png"
			mouse-cursor="/org/orbisgis/images/zoom_in.gif"
			toolbar-id="org.orbisgis.editors.map.Navigation" selectable="true"
			class="org.orbisgis.editors.map.tools.ZoomInTool"/>
		<tool id="org.orbisgis.editors.map.tools.ZoomOut"
			menu-id="org.orbisgis.editors.map.Tool" text="Zoom Out"
			menu-group="org.orbisgis.editors.map.tools.Selectable"
			icon="/org/orbisgis/images/zoom_out.png"
			mouse-cursor="/org/orbisgis/images/zoom_out.gif"
			toolbar-id="org.orbisgis.editors.map.Navigation" selectable="true"
			class="org.orbisgis.editors.map.tools.ZoomOutTool"/>
		<tool id="org.orbisgis.editors.map.tools.Pan"
			menu-id="org.orbisgis.editors.map.Tool" text="Pan"
			menu-group="org.orbisgis.editors.map.tools.Selectable"
			icon="/org/orbisgis/images/pan.png"
			mouse-cursor="/org/orbisgis/images/pan.gif"
			toolbar-id="org.orbisgis.editors.map.Navigation" selectable="true"
			class="org.orbisgis.editors.map.tools.PanTool"/>
	</extension>

	<extension point="org.orbisgis.editors.map.Tool">
		<toolbar id="org.orbisgis.editors.map.Info" text="Info tools"/>
		<tool id="org.orbisgis.editors.map.tools.InfoTool"
			menu-id="org.orbisgis.editors.map.Tool" text="Vector Information"
			menu-group="org.orbisgis.editors.map.tools.Selectable"
			icon="/org/orbisgis/images/information.png"
			toolbar-id="org.orbisgis.editors.map.Info" selectable="true"
			class="org.orbisgis.editors.map.tools.InfoTool"/>
	</extension>

	<extension point="org.orbisgis.editors.map.Tool">
		<toolbar id="org.orbisgis.editors.map.Fence" text="Fence tools..."/>
		<tool id="org.orbisgis.editors.map.tools.FencePolygon"
			toolbar-id="org.orbisgis.editors.map.Fence"
			icon="/org/orbisgis/images/shape_polygon_edit.png"
			text="Polygon fence" selectable="true"
			class="org.orbisgis.editors.map.tools.FencePolygonTool"/>
	</extension>

	<!-- Editors -->
	<extension id="org.orbisgis.editor.Map" point="org.orbisgis.Editor">
		<editor id="org.orbisgis.editors.Map" icon="/org/orbisgis/images/map.png"
			class="org.orbisgis.editors.map.MapEditor"/>
	</extension>

	<!-- Document wizards-->
	<extension
		id="org.orbisgis.views.documentCatalog.newDocumentWizards.NewMapDocument"
		point="org.orbisgis.views.documentCatalog.NewDocumentWizard">
		<wizard
			id="org.orbisgis.views.documentCatalog.newDocumentWizards.NewMapDocument"
			class="org.orbisgis.views.documentCatalog.newDocumentWizards.NewMapDocument"/>
	</extension>

	<!-- Document actions -->
	<extension point="org.orbisgis.views.documentCatalog.Action"
		id="org.orbisgis.views.documentCatalog.actions.Basic">
		<menu text="Add..." id="org.orbisgis.views.documentCatalog.New"/>
		<action id="org.orbisgis.views.documentCatalog.actions.Open" text="Open"
			menu-group="org.orbisgis.views.documentCatalog.Basic"
			icon="/org/orbisgis/images/application_go.png"
			class="org.orbisgis.views.documentCatalog.actions.Open"/>
		<action id="org.orbisgis.views.documentCatalog.actions.NewDocument"
			text="Document..."
			menu-group="org.orbisgis.views.documentCatalog.Basic"
			menu-id="org.orbisgis.views.documentCatalog.New"
			icon="/org/orbisgis/images/application_add.png"
			class="org.orbisgis.views.documentCatalog.actions.NewDocument"/>
		<action id="org.orbisgis.views.documentCatalog.actions.DeleteDocument"
			text="Remove" menu-group="org.orbisgis.views.documentCatalog.Remove"
			class="org.orbisgis.views.documentCatalog.actions.DeleteDocument"/>
	</extension>

	<!-- Views available in view menu-->
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.DocumentCatalog"
			icon="/org/orbisgis/images/application_double.png"
			class="org.orbisgis.views.documentCatalog.DocCatalogView"
			title="Documents"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.Geocatalog"
			icon="/org/orbisgis/images/geocatalog.png"
			class="org.orbisgis.views.geocatalog.CatalogView"
			title="Geocatalog"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.EditorView" isEditor="true"
			icon="/org/orbisgis/images/documentviewer.png"
			class="org.orbisgis.views.editor.EditorView"
			title="Document Viewer"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.Table"
			class="org.orbisgis.views.table.TableView"
			icon="/org/orbisgis/images/openattributes.png" title="Table"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.SQLConsole"
			class="org.orbisgis.views.sqlConsole.ConsoleView"
			icon="/org/orbisgis/images/script_code.png" title="SQL Console"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.SQLRepository"
			class="org.orbisgis.views.sqlRepository.SQLRepositoryView"
			icon="/org/orbisgis/images/group_gear.png" title="SQL Repository"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.BSHConsole"
			class="org.orbisgis.views.beanshellConsole.BSHConsoleView"
			icon="/org/orbisgis/images/page_white_cup.png"
			title="Beanshell Console"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.Output"
			class="org.orbisgis.views.outputView.OutputView"
			icon="/org/orbisgis/images/format-justify-fill.png" title="Output"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.Jobs" class="org.orbisgis.views.jobs.JobView"
			icon="/org/orbisgis/images/hourglass.png" title="Job status"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.Memory"
			class="org.orbisgis.views.memoryIndicator.MemoryView"
			icon="/org/orbisgis/images/utilities-system-monitor.png"
			title="Memory usage"/>
	</extension>
	<extension point="org.orbisgis.View">
		<view id="org.orbisgis.views.Welcome"
			class="org.orbisgis.views.welcome.WelcomeView"
			icon="/org/orbisgis/images/house.png" title="Welcome"/>
	</extension>

	<!-- Editor Views available in view menu-->
	<extension point="org.orbisgis.EditorView">
		<editor-view id="org.orbisgis.editorViews.Toc"
			class="org.orbisgis.editorViews.toc.TocView"
			editor-id="org.orbisgis.editors.Map"
			icon="/org/orbisgis/images/map.png" title="TOC"/>
	</extension>
	<extension point="org.orbisgis.EditorView">
		<editor-view id="org.orbisgis.editorViews.GeoMark"
			class="org.orbisgis.editorViews.geomark.GeomarkView"
			editor-id="org.orbisgis.editor.Map"
			icon="/org/orbisgis/images/world_add.png" title="Geomarks"/>
	</extension>

	<!-- SQL repository extensions -->

	<extension point="org.orbisgis.views.sqlRepository.SQL">
		<sql
			resource-path="/org/orbisgis/views/sqlRepository/OGCSQLQueries.xml"/>
	</extension>

	<extension point="org.orbisgis.views.sqlRepository.SQL">
		<sql resource-path="/org/orbisgis/views/sqlRepository/BasicSQL.xml"/>
	</extension>
</plugin>