# This list is there to fix some author names returned
# by git log/shortlog and affiliates.
# This helps getting clean changelogs and commit counts
# by author.
#
# See "git shortlog -nse" with and without this file

Erwan Bocher <erwan.bocher@univ-ubs.fr>
nicolas-f <github@nettrader.fr>
SPalominos <sylvain.palominos@univ-ubs.fr>
gpetit <gwendall.petit@univ-ubs.fr>
