<plugin>
	<extension point="org.orbisgis.geoview.toc.LayerAction">
		
		<!-- Menu============================================================== -->
		<menu id="org.orbisgis.geoview.StylesMenu" text="Styles..."/>
		<menu id="org.orbisgis.geoview.StylesMenu.DefaultStyleMenu"
			text="Default Style" parent="org.orbisgis.geoview.StylesMenu"/>
		
		<menu id="org.orbisgis.geoview.ProcessingMenu" text="Processing..."/>
		<menu id="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu"
			text="Terrain Analysis" parent="org.orbisgis.geoview.ProcessingMenu"/>
		<menu id="org.orbisgis.geoview.ProcessingMenu.Math"
			text="Math" parent="org.orbisgis.geoview.ProcessingMenu"/>
			
		<menu id="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.TopographyMenu"
			text="Topography" parent="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu"/>
		<menu id="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			text="Hydrology" parent="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu"/>
		
		<!-- Terrain Analysis============================================================== -->
		<action id="org.orbisgis.rasterProcessing.terrainAnalysis.topography.ProcessSlopesInPercent"
			text="Slopes (in %)" group="org.orbisgis.rasterProcessing"
			menuId="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.TopographyMenu"
			class="org.orbisgis.rasterProcessing.terrainAnalysis.topography.ProcessSlopesInPercent"/>
		<!-- Hydrology ============================================================== -->
		<action id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessD8Direction"
			text="D8: Grid Direction"
			group="org.orbisgis.rasterProcessing"
			menuId="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessD8Direction"/>
		
		<action id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessD8Accumulation"
			text="D8: Grid Accumulation"
			group="org.orbisgis.rasterProcessing"
			menuId="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessD8Accumulation"/>
						
		<action id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessStrahlerStreamOrder"
			text="D8: Strahler Stream Order"
			group="org.orbisgis.rasterProcessing"
			menuId="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessStrahlerStreamOrder"/>
		
		<action id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessOutlets"
			text="D8: Find outlets"
			group="org.orbisgis.rasterProcessing"
			menuId="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessOutlets"/>
		
		<action
			id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessWatershedFromOutletIndex"
			text="D8: From outlet to watershed"
			group="org.orbisgis.rasterProcessing"
			menuId="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessWatershedFromOutletIndex"/>
		
		<action id="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessWatersheds"
			text="D8: All watersheds"
			group="org.orbisgis.rasterProcessing"
			menuId="org.orbisgis.geoview.ProcessingMenu.TerrainAnalysisMenu.HydrologyMenu"
			class="org.orbisgis.rasterProcessing.terrainAnalysis.hydrology.ProcessAllWatersheds"/>
		
		<!-- Math ============================================================== -->
		
		<action id="org.orbisgis.rasterProcessing.math"
			text="Add a value"
			group="org.orbisgis.rasterProcessing"
			menuId="org.orbisgis.geoview.ProcessingMenu.Math"
			class="org.orbisgis.rasterProcessing.math.MathAddValue"/>
			
		
		<!-- Default Style ============================================================== -->
		
		<action id="org.orbisgis.rasterUI"
			text="Default Style"
			group="org.orbisgis.rasterUI"
			menuId="org.orbisgis.geoview.StylesMenu.DefaultStyleMenu"
			class="org.orbisgis.rasterUI.RasterDefaultStyle"/>
	
	</extension>
	
	
	
</plugin>