<plugin>
	
	<!-- Resource actions -->
	<extension point="org.orbisgis.views.geocatalog.Action">
		<action id="org.orbisgis.views.geocatalog.AddSource"
			menu-id="org.orbisgis.views.geocatalog.file.Add"
			menu-group="org.orbisgis.views.geocatalog.new" text="Add..."
			icon="/org/orbisgis/images/add.png"
			class="org.orbisgis.views.geocatalog.actions.NewSource"/>
	</extension>
	
	<!-- Geocognition wizards-->
	<extension id="org.orbisgis.views.geocognition.wizards.NewAction"
		point="org.orbisgis.views.geocognition.NewWizard">
		<category id="org.orbisgis.views.geocognition.UI" name="User interface"/>
		<wizard id="org.orbisgis.views.geocognition.wizards.NewAction"
			icon="/org/orbisgis/images/action.png"
			category="org.orbisgis.views.geocognition.UI"
			class="org.orbisgis.views.geocognition.wizards.NewAction"/>
	</extension>
	<extension id="org.orbisgis.views.geocognition.wizards.NewFunction"
		point="org.orbisgis.views.geocognition.NewWizard">
		<wizard id="org.orbisgis.views.geocognition.wizards.NewFunction"
			icon="/org/orbisgis/images/functionMap.png"
			category="org.orbisgis.views.geocognition.Processing"
			class="org.orbisgis.views.geocognition.wizards.NewFunction"/>
	</extension>
	<extension id="org.orbisgis.views.geocognition.wizards.NewCustomQuery"
		point="org.orbisgis.views.geocognition.NewWizard">
		<wizard id="org.orbisgis.views.geocognition.wizards.NewCustomQuery"
			icon="/org/orbisgis/images/customQueryMap.png"
			category="org.orbisgis.views.geocognition.Processing"
			class="org.orbisgis.views.geocognition.wizards.NewCustomQuery"/>
	</extension>
	<extension id="org.orbisgis.views.geocognition.wizards.Legend"
		point="org.orbisgis.views.geocognition.NewWizard">
		<wizard id="org.orbisgis.views.geocognition.wizards.Legend"
			icon="/org/orbisgis/images/palette.png"
			category="org.orbisgis.views.geocognition.Representation"
			class="org.orbisgis.views.geocognition.wizards.NewLegend"/>
	</extension>
	<extension id="org.orbisgis.views.geocognition.wizards.Symbol"
		point="org.orbisgis.views.geocognition.NewWizard">
		<wizard id="org.orbisgis.views.geocognition.wizards.Symbol"
			icon="/org/orbisgis/images/point.png"
			category="org.orbisgis.views.geocognition.Representation"
			class="org.orbisgis.views.geocognition.wizards.NewSymbol"/>
	</extension>
	
	<!-- Geocognition actions -->
	<extension point="org.orbisgis.views.geocognition.Action"
		id="org.orbisgis.views.geocognition.actions.Basic">
		<action id="org.orbisgis.views.geocognition.actions.NewElement"
			text="Element..." icon="/org/orbisgis/images/application_go.png"
			menu-group="org.orbisgis.views.geocognition.Basic"
			class="org.orbisgis.views.geocognition.actions.NewElement"
			menu-id="org.orbisgis.views.geocognition.New"/>
	</extension>
	
	<extension point="org.orbisgis.views.geocognition.Action"
		id="org.orbisgis.views.geocognition.actions.Basic">
		<menu text="Synchronize"
			id="org.orbisgis.views.geocognition.Synchronize"/>
		<action id="org.orbisgis.views.geocognition.actions.SyncWithFile"
			text="Synchronize with file"
			menu-group="org.orbisgis.views.geocognition.SyncAdvanced"
			class="org.orbisgis.views.geocognition.actions.SyncWithFile"
			menu-id="org.orbisgis.views.geocognition.Synchronize"/>
		<action id="org.orbisgis.views.geocognition.actions.ExportToFile"
			text="Export to file"
			menu-group="org.orbisgis.views.geocognition.Sync"
			class="org.orbisgis.views.geocognition.actions.ExportToFile"
			menu-id="org.orbisgis.views.geocognition.Synchronize"/>
		<action id="org.orbisgis.views.geocognition.actions.ImportFromFile"
			text="Import from file"
			menu-group="org.orbisgis.views.geocognition.Sync"
			class="org.orbisgis.views.geocognition.actions.ImportFromFile"
			menu-id="org.orbisgis.views.geocognition.Synchronize"/>
		<action id="org.orbisgis.views.geocognition.actions.ImportFromURL"
			text="Import from URL"
			menu-group="org.orbisgis.views.geocognition.Sync"
			class="org.orbisgis.views.geocognition.actions.ImportFromURL"
			menu-id="org.orbisgis.views.geocognition.Synchronize"/>
	</extension>
	<extension point="org.orbisgis.views.geocognition.Action"
		id="org.orbisgis.views.geocognition.actions.Action">
		<action id="org.orbisgis.views.geocognition.actions.InstallAction"
			menu-group="org.orbisgis.views.geocognition.Action"
			text="Install action"
			class="org.orbisgis.views.geocognition.actions.InstallAction"/>
		<action id="org.orbisgis.views.geocognition.actions.UninstallAction"
			menu-group="org.orbisgis.views.geocognition.Action"
			text="Uninstall action"
			class="org.orbisgis.views.geocognition.actions.UninstallAction"/>
	</extension>
	
	<!--  GRAPHIC MODELER EXTENSIONS -->
	
	<activator class="org.orbisgis.graphicModeler.Activator"/>

	<extension point="org.orbisgis.editors.map.Tool">
		<toolbar id="org.orbisgis.GraphicModeler" text="Graphic Modeler"/>
		
		<tool id="org.orbisgis.graphicModeler.InsertProcessTool"
			menu-id="org.orbisgis.GraphicModeler" text="Insert process"
			toolbar-id="org.orbisgis.GraphicModeler" selectable="true"
			icon="/org/orbisgis/images/process.png"
			mouse-cursor="/org/orbisgis/images/add.png"
			class="org.orbisgis.graphicModeler.tools.InsertProcessTool"/>
		<tool id="org.orbisgis.graphicModeler.InsertDataSourceTool"
			menu-id="org.orbisgis.GraphicModeler" text="Insert data source"
			toolbar-id="org.orbisgis.GraphicModeler" selectable="true"
			icon="/org/orbisgis/images/database.png"
			mouse-cursor="/org/orbisgis/images/add.png"
			class="org.orbisgis.graphicModeler.tools.InsertDataSourceTool"/>
		<tool id="org.orbisgis.graphicModeler.SelectTool"
			menu-id="org.orbisgis.GraphicModeler" text="Select"
			toolbar-id="org.orbisgis.GraphicModeler" selectable="true"
			icon="/org/orbisgis/images/select.png"
			mouse-cursor="/org/orbisgis/images/select.png"
			class="org.orbisgis.graphicModeler.tools.SelectionTool"/>
		<tool id="org.orbisgis.graphicModeler.LinkTool"
			menu-id="org.orbisgis.GraphicModeler" text="Link Input / Output"
			toolbar-id="org.orbisgis.GraphicModeler" selectable="true"
			icon="/org/orbisgis/images/filter.png"
			mouse-cursor="/org/orbisgis/images/filter.png"
			class="org.orbisgis.graphicModeler.tools.LinkTool"/>
	</extension>
	
	<extension point="org.orbisgis.editor.Action">
		<editor-action id="org.orbisgis.graphicModeler.DeleteNode"
			menu-id="org.orbisgis.GraphicModeler" text="Delete process or data source"
			toolbar-id="org.orbisgis.GraphicModeler"
			icon="/org/orbisgis/images/remove.png"
			editor-id="org.orbisgis.editors.Map"
			class="org.orbisgis.graphicModeler.actions.DeleteNode"/>
	</extension>
	
    <extension point="org.orbisgis.Action">
		<menu id="org.orbisgis.GraphicModeler" text="GraphicModeler"
			icon="/org/orbisgis/images/pencil.png"/>
		<action id="org.orbisgis.graphicModeler.ApplyLegend" text="Apply Legend"
			menu-id="org.orbisgis.GraphicModeler"
			icon="/org/orbisgis/images/palette.png"
			class="org.orbisgis.graphicModeler.actions.ApplyLegend"/>
	</extension>
</plugin>