<plugin>
	<activator class="org.orbisgis.geocatalog.Activator"/>
	<extension-point id="org.orbisgis.geocatalog.ResourceWizard"
		name="GeoCatalog Wizards" schema="schema/resourceWizard.xsd"/>
	<extension-point id="org.orbisgis.geocatalog.ResourceAction"
		name="Contextual actions for resources"
		schema="schema/resourceAction.xsd"/>
	<extension-point id="org.orbisgis.geocatalog.Action"
		name="Generic action in the geocatalog"
		schema="${org.orbisgis.core}/schema/action.xsd"/>
	<extension-point id="org.orbisgis.geocatalog.DND"
		schema="${org.orbisgis.core}/schema/dnd.xsd"/>

	<extension point="org.orbisgis.geocatalog.Action">
		<menu id="org.orbisgis.geocatalog.File" text="File"
			icon="/org/orbisgis/geocatalog/house.png"/>

		<menu id="org.orbisgis.geocatalog.Help" text="Help"
			icon="/org/orbisgis/geocatalog/help.png"/>

		<toolbar id="org.orbisgis.geocatalog.MainBar" text="Geocatalog"/>

		<action id="org.orbisgis.geocatalog.NewResource" text="New Resource"
			menuId="org.orbisgis.geocatalog.File"
			icon="/org/orbisgis/geocatalog/add.png"
			class="org.orbisgis.geocatalog.NewResourceAction"/>
		<action id="org.orbisgis.geocatalog.Exit" text="Exit"
			menuId="org.orbisgis.geocatalog.File"
			icon="/org/orbisgis/geocatalog/door_out.png"
			toolbarId="org.orbisgis.geocatalog.MainBar"
			class="org.orbisgis.geocatalog.ExitAction"/>
		<action id="org.orbisgis.geocatalog.About" text="About OrbisGIS"
			menuId="org.orbisgis.geocatalog.Help"
			class="org.orbisgis.geocatalog.AboutAction"/>
	</extension>
	<extension point="org.orbisgis.geocatalog.DND">
		<dnd class="org.orbisgis.geocatalog.BasicDnD"/>
	</extension>
</plugin>