<plugin>
	<activator class="org.orbisgis.geocatalog.Activator"/>
	<extension-point id="org.orbisgis.geocatalog.resourceWizard"
		name="GeoCatalog Wizards" schema="schema/resourceWizard.xsd"/>
	<extension-point id="org.orbisigs.geocatalog.resourceAction"
		name="Contextual actions for resources"
		schema="schema/resourceAction.xsd"/>
	<extension-point id="org.orbisgis.geocatalog.action"
		name="Generic action in the geocatalog" schema="schema/action.xsd"/>

</plugin>