<?xml version="1.0" encoding="utf-8"?> 
<jnlp codebase="http://www.orbisgis.org/store/releases/orbisgis-monomap-4.0-SNAPSHOT" href="launch.jnlp"> 
        <information> 
                <title>OrbisGIS Monomap 4.0-SNAPSHOT</title> 
                <vendor>IRSTV - Atelier SIG</vendor> 
                <homepage href="http://www.orbisgis.org/"/> 
                <description>OrbisGIS is a Geographic Information System dedicated to scientific spatial simulation. It is developed by French IRSTV institute and is able to manipulate and create vectorial and raster spatial data. OrbisGIS is distributed under GPL 3 license.</description> 
                <description kind="short">OrbisGIS is a Geographic Information System dedicated to scientific spatial simulation. It is developed by French IRSTV institute and is able to manipulate and create vectorial and raster spatial data. OrbisGIS is distributed under GPL 3 license.</description> 
                <icon href="images/mini_orbisgis.png"/> 
                <icon kind="splash" href="images/logo_orbisgis.jpg"/> 
                <offline-allowed/> 
        </information> 
        <security> 
                <all-permissions/> 
        </security> 
        <resources> 
                <j2se href="http://java.sun.com/products/autodl/j2se" version="1.6+" initial-heap-size="512m" max-heap-size="512m"/> 
                $dependencies
        </resources> 
        <application-desc main-class="$mainClass"></application-desc> 
</jnlp>
