<plugin>
	<extension point="org.orbisgis.geocatalog.ResourceWizard">
		<wizard id="org.orbisgis.geocatalog.NewFileResourceWizard"
			class="org.orbisgis.geocatalog.resources.NewFileResource"/>
	</extension>

	<extension point="org.orbisgis.geocatalog.ResourceWizard">
		<wizard id="org.orbisgis.geocatalog.NewFolder"
			class="org.orbisgis.geocatalog.resources.NewFolder"/>
	</extension>

	<extension point="org.orbisgis.geocatalog.ResourceAction">
		<action id="org.orbisgis.geocatalog.NewResource"
			group="org.orbisgis.geocatalog.new" text="New..."
			class="org.orbisgis.geocatalog.resources.NewResourceAction"/>
		<action id="org.orbisgis.geocatalog.DeleteResource"
			group="org.orbisgis.geocatalog.basic" text="Delete resource"
			class="org.orbisgis.geocatalog.resources.DeleteResource"/>
		<action id="org.orbisgis.geocatalog.ClearCatalog"
			group="org.orbisgis.geocatalog.global" text="Clear catalog"
			class="org.orbisgis.geocatalog.resources.ClearCatalogAction"/>
		<action id="org.orbisgis.geocatalog.ClearFolder"
			group="org.orbisgis.geocatalog.basic" text="Clear folder"
			class="org.orbisgis.geocatalog.resources.ClearFolderAction"/>
	</extension>
</plugin>
