<plugin>
	<extension point="org.orbisgis.geocatalog.ResourceWizard">
		<wizard id="org.orbisgis.geocatalog.NewFileResourceWizard"
			class="org.orbisgis.geocatalog.resources.NewFileResource"/>
	</extension>

	<extension point="org.orbisgis.geocatalog.ResourceWizard">
		<wizard id="org.orbisgis.geocatalog.NewFolderWizard"
			class="org.orbisgis.geocatalog.resources.NewFolder"/>
	</extension>
	<extension point="org.orbisgis.geocatalog.ResourceAction">
		<menu id="org.orbisgis.geocatalog.file.New" text="New"/>
		<action id="org.orbisgis.geocatalog.NewResource"
			menuId="org.orbisgis.geocatalog.file.New"
			menuGroup="org.orbisgis.geocatalog.new" text="New..."
			icon="/org/orbisgis/geocatalog/add.png"
			class="org.orbisgis.geocatalog.resources.NewResourceAction"/>
		<action id="org.orbisgis.geocatalog.DeleteResource"
			menuGroup="org.orbisgis.geocatalog.basic" text="Delete resource"
			icon="/org/orbisgis/geocatalog/remove.png"
			class="org.orbisgis.geocatalog.resources.DeleteResource"/>
		<action id="org.orbisgis.geocatalog.ClearCatalog"
			menuGroup="org.orbisgis.geocatalog.global" text="Clear catalog"
			icon="/org/orbisgis/geocatalog/bin_closed.png"
			class="org.orbisgis.geocatalog.resources.ClearCatalogAction"/>
		<action id="org.orbisgis.geocatalog.ClearFolder"
			menuGroup="org.orbisgis.geocatalog.basic" text="Clear folder"
			icon="/org/orbisgis/geocatalog/bin_closed.png"
			class="org.orbisgis.geocatalog.resources.ClearFolderAction"/>
	</extension>
	<extension id="org.orbisgis.geocatalog.BasicActions"
		point="org.orbisgis.geocatalog.Action">
		<menu id="org.orbisgis.geocatalog.Tools" text="Tools"
			icon="/org/orbisgis/geocatalog/converter/cog.png"/>
		<action id="org.orbisgis.geocatalog.ConvertResources" text="Convert XYZ"
			menuId="org.orbisgis.geocatalog.Tools"
			icon="/org/orbisgis/geocatalog/converter/cog_go.png"
			class="org.orbisgis.geocatalog.converter.ConvertResources"/>
	</extension>
</plugin>
